<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<script src="https://kit.fontawesome.com/fe72e1556a.js" crossorigin="anonymous"></script>

<div id="home-container">
    <section id="feed-posts">
        <% if(locals.user){%>
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea id="post-input" name="content" cols="30" rows="3" placeholder="Type Here" required></textarea> 
                <input type="submit" value="Post">
            </form>
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){%>
                        <%-include('_post')-%>
                    <% } %>      
                </ul>
            </div>
        <% } %>
    </section>
    
    
    <section id="user-friends">
        <% if(locals.user){%>
            <section style="border-bottom: 1px solid black ;">
                <h4>FRIENDS</h4>
                <% for (friend of friends) { %>
                    <p>
                        <a href="/users/profile/<%= friend.id %>"><%=friend.name%></a>
                    </p>
                <% } %>
            </section>
        <% } %>
        

        <h4>ALL USERS</h4>
        <% for (users of all_users) { %>
            <p>
                <a href="/users/profile/<%= users.id %>"><%=users.name%></a>
            </p>
        <% } %>
    </section>
    <%- include('_chat_box') -%>


</div>
<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>

<% if (locals.user) { %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %>
