    <link rel="stylesheet" href="/css/user_profile.css">
    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">

    <% if (user.id == profile_user.id) {%>
        <!-- if user matches show the form -->
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="your name" value="<%=profile_user.name%>" required>
            <input type="email" name="email" placeholder="your email" value="<%=profile_user.email%>" required>

            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="UPDATE">
        </form>
    <% } else {%>
        <!-- else show only the profile info -->    
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
        <% if(!locals.user.friendships.find(x => x.toString() === profile_user.id)) { %>
            <a href="/users/addfriend/?friend_id=<%=profile_user._id%>">
                <button type="button">
                    FOLLOW
                </button>
            </a>
        <% } %>
        <% if(locals.user.friendships.find(x => x.toString() === profile_user.id)) {%>
            <a href="/users/removefriend/?friend_id=<%=profile_user._id%>">
                <button type="button">
                    UNFOLLOW
                </button>
            </a>
        <% } %>
    <% } %>